<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/stylesheet.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="bootstrap" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>FoodFusion</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
        <div class="card-deck">
            {% for ingredient in ingredients %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ ingredient.ingredientID }}</h5>
                <p class="card-text">{{ ingredient.ingredientName }}</p>
                <!-- Add other ingredient properties as needed -->
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
  </body>
</html>
  